
html {
  scroll-behavior: smooth;
}

body {
  margin-top: 110px;
  background: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.navbar {
  border-bottom: 2px solid rgb(255, 167, 3);
  font-family: "Germania One", cursive;
  font-size: 1.2rem;
  background: #000;
}
.navbar-toggler-icon {
  height: 20px;
}
.dropdown-item:hover {
  background: rgb(255, 167, 3);
}
.character {
    height: 350px;
    width: 350px;
}
h1 {
  font-family: "Germania One", cursive;
  color: rgb(255, 167, 3);
  text-shadow: 4px 4px 4px #000000;
  font-size: 2rem;
}
h2 {
  margin-top: 20px;
  font-family: "Germania One", cursive;
  color: rgb(250, 250, 250);
  text-shadow: 4px 4px 4px #000000;
  font-size: 2rem;
}
h3 {
  margin-top: 20px;
  font-family: "Germania One", cursive;
  color: rgb(250, 250, 250);
  text-shadow: 4px 4px 4px #000000;
  font-size: 1.5rem;
}
.character {
    height: 350px;
    width: 350px;
}
p {
  color: rgb(250, 250, 250);
  text-shadow: 4px 4px 4px #000000;
  font-size: 1rem;
  font-family: "Julius Sans One", sans-serif;
}

#middle,
#middlepart {
  text-align: center;
}

.info {
  color: rgb(250, 250, 250);
  text-shadow: 4px 4px 4px #000000;
  font-size: 1rem;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.spell_icon {
  height: 30px;
}

.footerbox {
  position: absolute;
  width: 100%;
  background: #000;
  border-top: 2px solid rgb(255, 167, 3);
  height: 60px;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
